@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "./common/scss/input";
@import "./common/scss/signup";
@import "./common/scss/spinner";

body,
html,
#root {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}
